body {
  background: url(../images/toa-heftiba-581911-unsplash.jpg) no-repeat bottom center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
}

.container {
  margin: 0 auto;
}

#wrapper {
  max-width: 600px;
  height: auto;
  margin: 0 auto;
}

#right {
  float: right;
}

#left {
  float: left;
}

ul {
  list-style-type: none;
  margin: 0 auto;
}

li {
  padding: 5px;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.8);
  height: auto;
  color: white;
  font-size: 16px;
}

button {
  font-size: 16px;
}

.label {
  font-weight: bold;
  font-size: 16px;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}